.cards {
  margin-top: 40px;
}
.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}
.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
}
.card__image {
  width: 282px;
  height: 282px;
}
.card__description {
  display: flex;
  background-color: #fff;
  padding: 25px 20px 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
}
.card__text {
  color: black;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.card__like-button {
  background: transparent url(../images/heart-image.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
}
