.footer__content {
  margin: 67px 562px 60px 190px;
  color: gray;
  font-family: Inter, Arial, Helvetica, sans-serif;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400px;
}

@media screen and (max-width: 480px) {
  .footer__content {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .footer {
    max-width: 480px;
  }
}
